* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: Montserrat;
  color: #707070;
}

body .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

body .main-container .content-container {
  min-width: 300px;
  max-width: 670px;
  min-height: 600px;
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
  border-top: 5px solid #00d573;
  position: relative;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

body .main-container .content-container .text-content {
  padding: 2rem 3rem;
  margin-bottom: 9rem;
}

@media (max-width: 575px) {
  body .main-container .content-container .text-content {
    margin-bottom: 18rem;
    padding: 2rem 1rem;
  }
}

body .main-container .content-container .text-content p {
  line-height: 30px;
  padding: 1rem;
}

body .main-container .content-container .text-content .title-container {
  text-align: center;
}

body .main-container .content-container .text-content .title-container p {
  color: #b1b1b1;
}

body .main-container .content-container footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem 4rem;
  background-color: #00d573;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 5px 5px;
}

@media (max-width: 575px) {
  body .main-container .content-container footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .main-container .content-container footer p {
  padding: 0.3rem 0;
}

body .main-container .content-container footer .bold-paragraph {
  font-weight: 600;
}

body .main-container .content-container footer .footer-left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575px) {
  body .main-container .content-container footer .footer-left-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
  }
}

body .main-container .content-container footer .footer-right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 575px) {
  body .main-container .content-container footer .footer-right-column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .main-container .logo-container {
  margin-bottom: 3rem;
}
/*# sourceMappingURL=style.css.map */